<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/rchat/rchat.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/match/rchat.js"></script>
    <script type="text/javascript">
        let roomId = null;

        $(document).ready(function() {
            $.ajax({
                url: '/session/setting',
                method: 'GET',
                success: function(data) {
                    roomId = data;
                    console.log("Room ID: " + roomId);
                },
                error: function() {
                    console.log("Failed to get the room ID from session.");
                }
            });
        });
    </script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">랜덤매칭 시작하기</label>
                    <button id="connect" class="btn btn-default" type="submit">채팅시작</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">채팅끊기</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="chatting">채팅을 시작해보세요</label>
                    <input type="text" id="chatting" class="form-control" placeholder="채팅 입력하기 ..">
                </div>
                <button id="send" class="btn btn-default" type="submit">보내기</button>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <br>
                    <th>랜덤채팅 채팅창</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
