<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.gamegather.club.model.dao.ClubMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->
<!--    <resultMap type="com.multi.gamegather.club.dto.club" id="clubMapper">-->
<!--        <id property="id" column="ID"/>-->
<!--        <result property="code" column="CLUB_CODE"/>-->
<!--        <result property="name" column="CLUB_NAME"/>-->
<!--    </resultMap>-->

    <insert id="createClub" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO TB_CLUB(
        CLUB_CODE,
        CLUB_NAME)
        VALUES (
            #{clubCode},
            #{name}
        )
    </insert>

</mapper>