<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.gamegather.club.model.dao.ClubCategoryRelationMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->
<!--    <resultMap type="com.multi.gamegather.club.dto.clubCategoryRelationDTO" id="clubCategoryRelationMapper">-->
<!--        <id property="id" column="ID"/>-->
<!--        <result property="clubId" column="CLUB_ID"/>-->
<!--        <result property="categoryId" column="CATEGORY_ID"/>-->
<!--    </resultMap>-->





    <insert id="clubCategoryRelationMapper">
        INSERT INTO CLUB_CATEGORY_RELATION (CLUB_ID, CATEGORY_ID) VALUES
        <foreach collection="data" item="category" separator=",">
             (#{clubId}, #{category.id})
        </foreach>
    </insert>




<!--    <select id="getUsers" resultType="com.example.model.User">-->
<!--        SELECT * FROM users-->
<!--    </select>-->

<!--    <insert id="insertUser" parameterType="com.example.model.User">-->
<!--        INSERT INTO users (username, password) VALUES (#{username}, #{password})-->
<!--    </insert>-->
</mapper>