<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.gamegather.fredchat.model.dao.FredChatDAO">

    <!-- 결과 매핑 -->
    <resultMap id="fredChatResultMap" type="com.multi.gamegather.fredchat.model.dto.FredChatDTO">
        <id property="no" column="NO" />
        <result property="frndCode" column="FRND_CODE" />
        <result property="userId" column="USER_ID" />
        <result property="chatLog" column="CHAT_LOG" />
        <result property="frndChatDate" column="FRND_CHAT_DATE" />
    </resultMap>

    <insert id="insertChatMessage" parameterType="com.multi.gamegather.fredchat.model.dto.FredChatMessage">
        INSERT INTO TB_FRED_CHAT (FRND_CODE, USER_ID, CHAT_LOG)
        VALUES (#{roomId}, #{sender}, #{message})
    </insert>


</mapper>