#right {
  max-width: 100%;
  max-height: 100%; /* 3번 화면의 최대 높이 설정 */

}

#iframecontent {
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto; /* 스크롤 생성 */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.box {
  width: 1470px; /* 가로 5% 늘림 */
  height: 770px; /* 세로 10% 늘림 */
  border: 2px inset black;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  position: relative; /* 상대 위치 설정 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
}
.box .left {
  width: 147px; /* 박스 가로 10분의 1 */
  height: 100%;
  background-color: #f1f1f1;

}
.box .left .left-top {
  width: 147px; /* 박스 가로 10분의 1 */
  height: 12%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;


}
.box .middle {
  width: 294px; /* 박스 가로 5분의 1 */
  height: 100%;
  background-color: #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  }
.box .middle .middle-top {
  width: 294px; /* 박스 가로 10분의 1 */
  height: 12%;
  background-color: #e6e6e6;
  border-bottom: 2px solid #f1f1f1; /* 아래쪽 border만 지정 */
}
.box .right {
  width: 1322px;
  height:100%

}
<!--        .box .right .right-top {-->
<!--          width: 1028px;-->
<!--          height: 12%;-->
<!--          border-bottom: 2px solid #e6e6e6; /* 아래쪽 border만 지정 */-->
<!--        }-->

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}