<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.gamegather.member.model.dao.MemberDAO">

    <resultMap id="memberResultMap" type="com.multi.gamegather.member.model.dto.MemberDTO">
        <id column="USER_NO" property="no" />
        <result column="USER_ID" property="id" />
        <result column="USER_PASSWORD" property="pwd" />
        <result column="USER_NAME" property="name" />
        <result column="USER_PROFILE_IMG_PATH" property="profileIMG" />
        <result column="USER_NICKNAME" property="nickname" />
        <result column="USER_AGE" property="age" />
        <result column="USER_GENDER" property="gender" />
        <result column="USER_TEL" property="tel" />
        <result column="USER_MANNER_COUNT" property="mannerCount" />
        <result column="USER_BAN_COUNT" property="banCount" />
        <result column="USER_SIGNUP_DATE" property="signupDate" />
        <result column="USER_DELETE_ACCOUNT_DATE" property="deleteDate" />
        <result column="USER_DELETE_ACCOUNT" property="deleteAccount" />
        <result column="USER_ROLE" property="role" />
    </resultMap>

    <select id="findMemberById" resultMap="memberResultMap">
        SELECT
        USER_NO,
        USER_ID,
        USER_PASSWORD,
        USER_NAME,
        USER_PROFILE_IMG_PATH,
        USER_NICKNAME,
        USER_AGE,
        USER_GENDER,
        USER_TEL,
        USER_MANNER_COUNT,
        USER_BAN_COUNT,
        USER_SIGNUP_DATE,
        USER_DELETE_ACCOUNT_DATE,
        USER_DELETE_ACCOUNT,
        USER_ROLE
        FROM TB_USERS
        WHERE USER_ID = #{memberId}
    </select>

    <select id="findUserByDetails" resultMap="memberResultMap">
        SELECT
        USER_NO,
        USER_ID,
        USER_PASSWORD,
        USER_NAME,
        USER_PROFILE_IMG_PATH,
        USER_NICKNAME,
        USER_AGE,
        USER_GENDER,
        USER_TEL,
        USER_MANNER_COUNT,
        USER_BAN_COUNT,
        USER_SIGNUP_DATE,
        USER_DELETE_ACCOUNT_DATE,
        USER_DELETE_ACCOUNT,
        USER_ROLE
        FROM TB_USERS
        WHERE USER_NAME = #{userName} AND USER_TEL = #{userTel} AND USER_GENDER = #{userGender}
    </select>

    <insert id="insertMember">
        INSERT INTO TB_USERS (
        USER_ID,
        USER_PASSWORD,
        USER_NAME,
        USER_PROFILE_IMG_PATH,
        USER_NICKNAME,
        USER_AGE,
        USER_GENDER,
        USER_TEL
        ) VALUES (
        #{id},
        #{pwd},
        #{name},
        #{profileIMG},
        #{nickname},
        #{age},
        #{gender},
        #{tel}
        )
    </insert>

    <update id="updateMember">
        UPDATE TB_USERS
        SET
        USER_PASSWORD = #{pwd},
        USER_NAME = #{name},
        USER_PROFILE_IMG_PATH = #{profileIMG},
        USER_NICKNAME = #{nickname},
        USER_AGE = #{age},
        USER_GENDER = #{gender},
        USER_TEL = #{tel}
        WHERE USER_ID = #{id}
    </update>

    <delete id="deleteMember">
        DELETE FROM TB_USERS
        WHERE USER_ID = #{memberId}
    </delete>

    <!-- 혜선 -->
    <select id="findMemberByNos" resultMap="memberResultMap">
        SELECT
        USER_NO,
        USER_ID,
        USER_PASSWORD,
        USER_NAME,
        USER_PROFILE_IMG_PATH,
        USER_NICKNAME,
        USER_AGE,
        USER_GENDER,
        USER_TEL,
        USER_MANNER_COUNT,
        USER_BAN_COUNT,
        USER_SIGNUP_DATE,
        USER_DELETE_ACCOUNT_DATE,
        USER_DELETE_ACCOUNT,
        USER_ROLE
        FROM TB_USERS
        WHERE USER_NO IN
        <foreach item="no" index="index" collection="memberNos" open="(" separator="," close=")">
            #{no}
        </foreach>
        <!--
        (#{memberNos})-->
    </select>
</mapper>
