<!DOCTYPE html>
<html lang="en">
<head>
    <title>가운데 빈 박스</title>
    <link rel="stylesheet" href="/css/match/matchchat.css">
</head>

<body>
<div class="box">
    <div class="left">
        <div class="left-top">
            <button id="randommatch" class="centered-container">
                <img src="/img/random.PNG" width="65" height="55" alt="randomicon">
            </button>
        </div>
        <div class="left-top">hello2</div>
        <div class="left-top">hello3</div>
        <div class="left-top">hello4</div>
        <div class="left-top">hello5</div>
    </div>
    <div class="middle">
        <div class="middle-top">hi1</div>
    </div>
    <div class="right" id="right">
        <iframe id="iframecontent"></iframe>

<!--        <script>-->
<!--            const randommatch = document.getElementById('randommatch');-->
<!--            const iframecontent = document.getElementById('iframecontent');-->

<!--            randommatch.addEventListener('click', () => {-->
<!--              iframecontent.src = '/match/match';-->
<!--            });-->
<!--        </script>-->
    </div>
</div>

<script src="/js/match/matchchat.js"></script>
</body>
</html>