<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" href="css/styles.css">-->
    <link rel="stylesheet" href="/css/match.css">
    <!--    <script src="/js/script.js"></script>-->
</head>
<body>
<div class="section over-hide z-bigger">
    <input class="checkbox" type="checkbox" name="general" id="general">
<!--    <label class="for-checkbox" for="general"></label>-->
    <div class="background-color"></div>
    <div class="section over-hide z-bigger">
        <div class="container pb-5">
            <div class="row justify-content-center pb-5">
                <div class="col-12 pt-5">
                    <p class="mb-4 pb-2">게임종류를 선택해주세요</p>
                </div>
                <div class="col-12 pb-5">
                    <input class="checkbox-tools" type="radio" name="tools" id="tool-1" checked>
                    <label class="for-checkbox-tools" for="tool-1">
                        <i class='uil uil-line-alt'></i>
                        리그오브레전드
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="tools" id="tool-2">
                    <label class="for-checkbox-tools" for="tool-2">
                        <i class='uil uil-vector-square'></i>
                        오버워치
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="tools" id="tool-3">
                    <label class="for-checkbox-tools" for="tool-3">
                        <i class='uil uil-ruler'></i>
                        배틀그라운드
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="tools" id="tool-4">
                    <label class="for-checkbox-tools" for="tool-4">
                        <i class='uil uil-crop-alt'></i>
                        발로란트
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="tools" id="tool-5">
                    <label class="for-checkbox-tools" for="tool-5">
                        <i class='uil uil-brush-alt'></i>
                        로스트아크
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="tools" id="tool-6">
                    <label class="for-checkbox-tools" for="tool-6">
                        <i class='uil uil-image-resize-landscape'></i>
                        메이플스토리
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="tools" id="tool-7">
                    <label class="for-checkbox-tools" for="tool-6">
                        <i class='uil uil-image-resize-landscape'></i>
                        구스구스덕
                    </label>

                </div>
                <div class="col-12 pt-1">
                    <p class="mb-4 pb-2">채팅할 총 인원을 선택해주세요</p>
                </div>
                <div class="col-xl-10 pb-5">
                    <input class="checkbox-budget" type="radio" name="budget" id="budget-1" checked>
                    <label class="for-checkbox-budget" for="budget-1">
                        <span data-hover="2명">2명</span>
                    </label><!--
						--><input class="checkbox-budget" type="radio" name="budget" id="budget-2">
                    <label class="for-checkbox-budget" for="budget-2">
                        <span data-hover="3명">3명</span>
                    </label><!--
						--><input class="checkbox-budget" type="radio" name="budget" id="budget-3">
                    <label class="for-checkbox-budget" for="budget-3">
                        <span data-hover="4명">4명</span>
                    </label><!--
						--><input class="checkbox-budget" type="radio" name="budget" id="budget-4">
                    <label class="for-checkbox-budget" for="budget-4">
                        <span data-hover="5명">5명</span>
                    </label><!--
						--><input class="checkbox-budget" type="radio" name="budget" id="budget-5">
                    <label class="for-checkbox-budget" for="budget-5">
                        <span data-hover="6명">6명</span>
                    </label><!--
						--><input class="checkbox-budget" type="radio" name="budget" id="budget-6">
                    <label class="for-checkbox-budget" for="budget-6">
                        <span data-hover="7명">7명</span>
                    </label>
                </div>
                <div class="col-12 pt-1">
                    <p class="mb-4 pb-2">같이할 인원의 성향을 선택해주세요</p>
                </div>
                <div class="col-12 pb-5">
                    <input class="checkbox-option" type="checkbox" name="booking" id="booking-1" checked>
                    <label class="for-checkbox-option" for="booking-1">
                        <i class='uil uil-coffee mr-3'></i><span data-hover="즐겜">즐겜</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-2">
                    <label class="for-checkbox-option" for="booking-2">
                        <i class='uil uil-restaurant mr-3'></i><span data-hover="빡겜">빡겜</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-3">
                    <label class="for-checkbox-option" for="booking-3">
                        <i class='uil uil-car-sideview mr-3'></i><span data-hover="친목">친목</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-4">
                    <label class="for-checkbox-option" for="booking-4">
                        <i class='uil uil-flower mr-3'></i><span data-hover="고수">고수</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-5">
                    <label class="for-checkbox-option" for="booking-5">
                        <i class='uil uil-wifi mr-3'></i><span data-hover="중수">중수</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-6">
                    <label class="for-checkbox-option" for="booking-6">
                        <i class='uil uil-parking-square mr-3'></i><span data-hover="초보">초보</span>
                    </label>
                    <br><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-7">
                    <label class="for-checkbox-option" for="booking-7">
                        <i class='uil uil-tv-retro mr-3'></i><span data-hover="랭크게임">랭크게임</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-8">
                    <label class="for-checkbox-option" for="booking-8">
                        <i class='uil uil-books mr-3'></i><span data-hover="일반게임">일반게임</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-9">
                    <label class="for-checkbox-option" for="booking-9">
                        <i class='uil uil-kayak mr-3'></i><span data-hover="특별모드">특별모드</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-10">
                    <label class="for-checkbox-option" for="booking-10">
                        <i class='uil uil-glass-martini-alt mr-3'></i><span data-hover="파티사냥">파티사냥</span>
                    </label><!--
						--><input class="checkbox-option" type="checkbox" name="booking" id="booking-11">
                    <label class="for-checkbox-option" for="booking-11">
                        <i class='uil uil-dumbbell mr-3'></i><span data-hover="보스레이드">보스레이드</span>
                    </label>
                </div>
                <div class="col-12 pt-5">
                    <p class="mb-4 pb-2">같이할 인원의 연령대를 선택해주세요</p>
                </div>
                <div class="col-12 pb-5">
                    <input class="checkbox-tools" type="radio" name="age" id="age-1" checked>
                    <label class="for-checkbox-tools" for="age-1">
                        <i class='uil uil-line-alt'></i>
                        10대 후반
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="age" id="age-2">
                    <label class="for-checkbox-tools" for="age-2">
                        <i class='uil uil-vector-square'></i>
                        20대 초중반
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="age" id="age-3">
                    <label class="for-checkbox-tools" for="age-3">
                        <i class='uil uil-ruler'></i>
                        20대 중후반
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="age" id="age-4">
                    <label class="for-checkbox-tools" for="age-4">
                        <i class='uil uil-crop-alt'></i>
                        30대 초중반
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="age" id="age-5">
                    <label class="for-checkbox-tools" for="age-5">
                        <i class='uil uil-brush-alt'></i>
                        30대 중후반
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="age" id="age-6">
                    <label class="for-checkbox-tools" for="age-6">
                        <i class='uil uil-image-resize-landscape'></i>
                        40대 이상
                    </label><!--
						--><input class="checkbox-tools" type="radio" name="age" id="age-7">
                    <label class="for-checkbox-tools" for="age-6">
                        <i class='uil uil-image-resize-landscape'></i>
                        50대 이상
                    </label>
            </div>
        </div>
    </div>
</div>


</body>
</html>